@using CuidarMe.Web.Models
@{
    ViewBag.Title = "Alertas e Notificações";
    ContadorNotificacaoViewModel alerta = ViewBag.Alerta;    
}

@section scripts {
    <script src="@Url.Content("~/Scripts/Notificacao/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Notificacao/module.js")"></script>
}

<div ng-controller="ListNotificacaoController" ng-init="listar('', 1)">
    <h2>@ViewBag.Title</h2>
    <div class="filtros">
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Empresa" ng-model="filtros.EmpresaNome"  
                       ng-model-options="{ debounce: 1500 }" ng-change="consultar($event)"/>
            </div>

            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Buscar pelo nome do Cliente"  ng-model="filtros.ClienteNome"
                       ng-model-options="{ debounce: 1500 }" ng-change="consultar($event)"/>
            </div>

            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Buscar pelo nome do Idoso"   ng-model="filtros.IdosoNome"
                       ng-model-options="{ debounce: 1500 }" ng-change="consultar($event)"/>
            </div>

            <div class="col-md-3">
                    <input type="datetime-local" class="form-control" placeholder="Buscar pelo Data" ng-model="filtros.Data"
                           ng-model-options="{ debounce: 1500 }" ng-change="consultar($event)"/>
            </div>
        </div>
    </div>
    <div class="nav-cards">
        <nav>
            <div class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
                <button ng-click="listar('', 1)" class="nav-link active" id="nav-todos-tab" data-toggle="tab" data-target="#nav-todos" type="button" role="tab" aria-controls="nav-todos" aria-selected="true">Todos  <i class="badge badge-danger fa-lg">@*@alerta.Total*@</i></button>
                <button ng-click="listar('Alerta', 1)"  class="nav-link" id="nav-alerta-tab" data-toggle="tab" data-target="#nav-alerta" type="button" role="tab" aria-controls="nav-alerta" aria-selected="false">Alertas  <i class="badge badge-danger fa-lg">@*@alerta.CountAlerta*@</i></button>
                <button ng-click="listar('Notificacao', 1)" class="nav-link" id="nav-notificacao-tab" data-toggle="tab" data-target="#nav-notificacao" type="button" role="tab" aria-controls="nav-notificacao" aria-selected="false">Notificações  <i class="badge badge-danger fa-lg">@*@alerta.CountNotificao*@</i></button>
            </div>
        </nav>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="nav-todos" role="tabpanel" aria-labelledby="nav-todos-tab">
                <div class="list-cards">
                    <div class="card w-25" ng-repeat="notificacao in notificacao">
                        <div class="card-header" ng-class="{'bg-danger':  notificacao.GrupoNotificacao==2, 'bg-warning': notificacao.GrupoNotificacao==1}">
                            <span class="title-header-card">
                                <span ng-show="notificacao.GrupoNotificacao==1">Alerta:</span>
                                <span ng-show="notificacao.GrupoNotificacao==2">Notificação:</span>
                                {{notificacao.TipoDescricao}}
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <img class="image-card">
                                <h6 class="card-title">
                                    {{notificacao.NomeIdoso}}<br />
                                    <span class="badge badge-info fa-lg">Cliente:&nbsp;{{notificacao.Cliente}}</span><br />
                                    <span class="badge badge-dark fa-lg">Empresa:&nbsp;{{notificacao.Empresa}}</span>
                                </h6>
                            </div>
                            <p class="card-text">{{notificacao.Texto}}</p>
                            <a href="" class="btn btn-link" ng-click="historico(notificacao.IdosoId, notificacao.Tipo)"><i class="fa fa-history" aria-hidden="true"></i> &nbsp;Histórico</a>
                        </div>
                        <div class="card-footer"><span class="pull-right title-data-card" title="Data Hora da Notificação">{{notificacao.Data | shortDateTimeString}}</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 notificacao-paginacao">
                        <pagination filters="filtros" refresh="listar()"></pagination>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-alerta" role="tabpanel" aria-labelledby="nav-alerta-tab">
                <div class="list-cards">
                    <div class="card w-25" ng-repeat="notificacao in notificacao">
                        <div class="card-header" ng-class="{'bg-danger':  notificacao.GrupoNotificacao==2, 'bg-warning': notificacao.GrupoNotificacao==1}">
                            <span class="title-header-card">
                                <span ng-show="notificacao.GrupoNotificacao==1">Alerta:</span>
                                <span ng-show="notificacao.GrupoNotificacao==2">Notificação:</span>
                                {{notificacao.TipoDescricao}}
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <img class="image-card">
                                <h6 class="card-title">
                                    {{notificacao.NomeIdoso}}<br />
                                    <span class="badge badge-info fa-lg">Cliente:&nbsp;{{notificacao.Cliente}}</span><br />
                                    <span class="badge badge-dark fa-lg">Empresa:&nbsp;{{notificacao.Empresa}}</span>
                                </h6>
                            </div>
                            <p class="card-text">{{notificacao.Texto}}</p>
                            <a href="" class="btn btn-link" ng-click="historico(notificacao.IdosoId, notificacao.Tipo)"><i class="fa fa-history" aria-hidden="true"></i> &nbsp;Histórico</a>
                        </div>
                        <div class="card-footer"><span class="pull-right title-data-card" title="Data Hora da Notificação">{{notificacao.Data | shortDateTimeString}}</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 notificacao-paginacao">
                        <pagination filters="filtros" refresh='listar("Alerta", 0)'></pagination>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-notificacao" role="tabpanel" aria-labelledby="nav-notificacao-tab">
                <div class="list-cards">
                    <div class="card w-25" ng-repeat="notificacao in notificacao">
                        <div class="card-header" ng-class="{'bg-danger':  notificacao.GrupoNotificacao==2, 'bg-warning': notificacao.GrupoNotificacao==1}">
                            <span class="title-header-card">
                                <span ng-show="notificacao.GrupoNotificacao==1">Alerta:</span>
                                <span ng-show="notificacao.GrupoNotificacao==2">Notificação:</span>
                                {{notificacao.TipoDescricao}}
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <img class="image-card">
                                <h6 class="card-title">
                                    {{notificacao.NomeIdoso}}<br />
                                    <span class="badge badge-info fa-lg">Cliente:&nbsp;{{notificacao.Cliente}}</span><br />
                                    <span class="badge badge-dark fa-lg">Empresa:&nbsp;{{notificacao.Empresa}}</span>
                                </h6>
                            </div>
                            <p class="card-text">{{notificacao.Texto}}</p>
                            <a href="" class="btn btn-link" ng-click="historico(notificacao.IdosoId, notificacao.Tipo)"><i class="fa fa-history" aria-hidden="true"></i> &nbsp;Histórico</a>
                        </div>
                        <div class="card-footer"><span class="pull-right title-data-card" title="Data Hora da Notificação">{{notificacao.Data | shortDateTimeString}}</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 notificacao-paginacao">
                        <pagination filters="filtros" refresh='listar("Notificacao", 0)'></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>