@using CuidarMe.Web.Models
@{
    ViewBag.Title = "Alterar senha";
    UsuarioDaSessao usuario = ViewBag.Usuario;
}
@section scripts{
    <script src="@Url.Content("~/Scripts/Account/internalModule.js")"></script>
}
<h2>@ViewBag.Title</h2>
<form ng-controller="MudancaSenhaController" ng-init="carregar(@(usuario.Id))">
    <validation submit="salvar()"></validation>

    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Senha atual</label>
            <input type="password" class="form-control" id="SenhaAtual"
                   ng-model="dados.SenhaAtual"
                   required-field />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 form-group">
            <label>Senha nova</label>
            <input type="password" class="form-control" id="NovaSenha"
                   ng-model="dados.NovaSenha"
                   required-field />
        </div>

        <div class="col-sm-3 form-group">
            <label>Confirmação</label>
            <input type="password" class="form-control"
                   required-field equalTo="#NovaSenha" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 form-group">
            <button class="btn btn-primary">Salvar</button>
            <button type="button" ng-click="cancelar()" class="btn btn-light">Cancelar</button>
        </div>
    </div>
</form>