<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--<add key="RestUrl" value="http://api.cuideme.care"/>-->
    <!--<add key="RestUrl" value="http://api-hm.cuideme.care"/>-->
    <add key="RestUrl" value="https://localhost:44301" />
    <add key="Port" value="5088" />
    <add key="Connection" value="100" />
    <add key="JournalNo" value="080835" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>