@{
    ViewBag.Title = "Empresa";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/Empresa/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Empresa/module.js")"></script>
}

<div ng-controller="ListEmpresaController">
    <h2>@ViewBag.Title</h2>

    <div class="row">
        <div class="col-md-3">
            <search placeholder="Digite o termo de busca..."
                    ng-model="filtros.search"
                    on-search="listar()">
            </search>
        </div>
    </div>

    <datatable items="item in empresas" filters="filtros" refresh="listar()">      
        <column orderable get="item.Nome" initial>Nome da Empresa</column>
        <column orderable get="item.Documento" initial>Documento</column>
        <column orderable get="item.Email">E-mail</column>

        <buttons>
            <button new="@Url.Action("Create")"></button>
            <button edit="editar(item)"></button>
            <button remove="excluir(item)"></button>
            <button ng-click="copiarChave(item.Chave)" class="btn btn-outline-dark btn-sm fa fa-copy" title="Copiar chave"></button>
        </buttons>
    </datatable>

    <pagination filters="filtros" refresh="listar()"></pagination>
</div>