@{
    ViewBag.Title = "Cadastro de Comandos";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/EnviarComando/service.js")"></script>
    <script src="@Url.Content("~/Scripts/EnviarComando/module.js")"></script>
}

<h2>@ViewBag.Title</h2>
<div ng-controller="CadastrarComandoController" ng-init="iniciar(@Model)">
    <form>
        <validation submit="salvar()"></validation>      
        <div class="form-group">
            <label>Nome do Comando</label>
            <input type="text" class="form-control" ng-model="comando.Nome"  required-field maxlength="120" />
        </div>

        <div class="form-group">
            <label>Comando</label>
            <textarea class="form-control" ng-model="comando.Execucao" required-field maxlength="2000" style="height:150px"></textarea>
        </div>

        <div class="form-group mt-2">
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-outline-secondary" ng-click="cancelar()">Voltar</button>
        </div>
    </form>
</div>