@{
    ViewBag.Title = "Enviar comando de Genérico";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/EnviarComando/service.js")"></script>
    <script src="@Url.Content("~/Scripts/EnviarComando/module.js")"></script>
}

<h2>@ViewBag.Title</h2>
<div ng-controller="EnviarComandoController">
    <form>
        <validation submit="salvar()"></validation>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Frequência cardíaca mínima</label>
                    <input type="number" class="form-control" ng-model="configuracao.imei"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Frequência cardíaca máxima</label>
                    <input type="text" class="form-control" ng-model="configuracao.mensagem"/>
                </div>
            </div>

        </div>

        <div class="form-group">
            <button class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-outline-secondary" ng-click="cancelar()">Voltar</button>
        </div>
    </form>
</div>