@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Recuperação de conta";
}
<div class="formulario-login">
    <form class="login" autocomplete="off" ng-controller="FormularioSenhaController">
        <validation submit="recuperar()"></validation>
        <h3>Recuperar sua conta</h3>
        <hr/>
        <p>Podemos ajudá-lo a redefinir sua senha e informações de segurança. Primeiro, insira seu e-mail e siga as instruções.</p>

        <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" ng-model="email" required-field/>
        </div>

        <div class="form-group">
            <label>Documento</label>
            <input type="text" class="form-control" ng-model="documento" required-field mask="999.999.999-99"/>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="operacao" ng-bind="operacao"></div>
            </div>
            <div class="col-6 text-right">
                <button type="button" class="btn btn-primary" ng-click="gerar()">
                    <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>


        <div class="form-group">
            <label>Resposta</label>
            <input type="text" class="form-control" placeholder="Insira a resposta da operação" ng-model="respostaUsuario" required-field/>
        </div>
        <button type="submit"
                ng-disabled="entrando">
            <i class="fa fa-spinner fa-spin" ng-show="entrando"></i>
            <span class="state" ng-bind="entrando ? 'Enviando...' : mensagem == null ? 'Recuperar': mensagem"></span>
        </button>
        
        <div class="alert alert-success" role="alert" ng-show="novaSenha">
            <p>Sua nova senha é:</p>
            <h3 ng-bind="novaSenha"></h3>
            <p>Clique <a href="@Url.Action("Login")">aqui</a> para retornar ao login</p>
        </div>
    </form>
</div>