@model int
@{
    ViewBag.Title = "Usuário";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/Usuario/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Usuario/module.js")"></script>
}

<h2>@ViewBag.Title</h2>
<div ng-controller="UsuarioController" ng-init="iniciar(@Model)">
    <form>
        <validation submit="salvar()"></validation>

        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" ng-model="usuario.Nome" maxlength="100" required />
        </div>
        <div class="form-group">
            <label>Documento</label>
            <input type="text" class="form-control" ng-model="usuario.Documento" required-field mask="999.999.999-99" />
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" ng-model="usuario.Email"
                   ng-blur-valid="verificarDisponibilidadeDoEmail()"
                   ng-class="{true:'is-valid',false:'is-invalid'}[estaDisponivel]"
                   required-field maxlength="50" />
            <boolean-validation is-valid="estaDisponivel">Esse e-mail não está disponível</boolean-validation>
        </div>

        <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" ng-model="usuario.Senha" autocomplete="new-password" maxlength="200" />
            @if (Model > 0)
            {
                <p>Caso não queira alterar a senha, deixe o campo em branco</p>
            }
        </div>

        <div class="form-group form-check">
            <input type="checkbox" id="CheckMaster" ng-true-value="1" ng-false-value="0" class="form-check-input" ng-model="usuario.Master" />
            <label class="form-check-label" for="CheckMaster">Master</label>
        </div>

        <div class="form-group mt-2">
            <button class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-outline-secondary" ng-click="cancelar()">Voltar</button>
        </div>
    </form>
</div>