@{
    ViewBag.Title = "Configuração geral";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/Configuracao/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Configuracao/module.js")"></script>
}

<h2>@ViewBag.Title</h2>
<div ng-controller="ConfiguracaoController" ng-init="iniciar()">
    <form>
        <validation submit="salvar()"></validation>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>Frequência cardíaca mínima</label>
                    <input type="number" class="form-control" ng-model="configuracao.FrequenciaCardiacaMinima"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Frequência cardíaca máxima</label>
                    <input type="number" class="form-control" ng-model="configuracao.FrequenciaCardiacaMaxima"/>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>Sistólica mínima</label>
                    <input type="number" class="form-control" ng-model="configuracao.SistolicaMinima"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Sistólica máxima</label>
                    <input type="number" class="form-control" ng-model="configuracao.SistolicaMaxima"/>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>Diastólica mínima</label>
                    <input type="number" class="form-control" ng-model="configuracao.DiastolicaMinima"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Diastólica máxima</label>
                    <input type="number" class="form-control" ng-model="configuracao.DiastolicaMaxima"/>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label>Saturação mínima</label>
                    <input type="number" class="form-control" ng-model="configuracao.SaturacaoMinima"/>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>Saturação máxima</label>
                    <input type="number" class="form-control" ng-model="configuracao.SaturacaoMaxima"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-outline-secondary" ng-click="cancelar()">Voltar</button>
        </div>
    </form>
</div>