.smk-confirm-back {
    position: absolute !important;
    background: #2125298f;
}

.smk-confirm, .smk-prompt {
    top: 20px !important;
    background-color: #f8f9fa;
    padding: 10px;
}

i {
    font-style: normal !important;
}

/*Css Relativo ao Cards*/
li.notification {
    height: 26px;
    margin-top: 6px;
}

.notification > a > i.fa.fa-bell-o.fa-lg {
    color: aliceblue;
}

.notification > a > i.badge {
    border-radius: 0.3rem;
    margin-left: auto;
    margin-top: 10px;
}

.image-card {
    height: 60px;
    width: 50px;
    content: url(../Images/sem_imagem.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    margin: 5px;
    display: block;
}

h6.card-title {
    margin: 0;   
    display: block;
    margin-top: 20px;
}

p.card-text {
    padding: 5px;
    margin: 0;
}

.list-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title-header-card {
    font-weight: bolder;
}

.card-header {
    height: 43px;
}
.title-data-card {
    font-size: small;   
}
.card-footer {
    padding: 0.5rem 0.25rem !important;
    background-color: rgb(0 0 0 / 0%);
    border-top: 0;
}

/*nave icones*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #343a40;
}

/*filtros*/
.filtros {
    margin-bottom: 0px;
    padding: 5px;
    background-color: #b5b5b5;
}
.nav-cards {
   /* background-color: #b5b5b5;*/
    padding: 5px;
}
.w-25 {
    width: auto !important;
}
.card {
    margin-left: 0.5% !important;
    margin-top: 1% !important;
}

.notificacao-paginacao {
    padding-left: 22px;
    margin-top: 10px;
}

@media (min-width: 400px) {
    .list-cards > .card {
        width: 99.5% !important;
    }    
}

@media (min-width: 768px) {
    .list-cards > .card {      
        width: 49.5% !important;
    }
}

@media (min-width: 992px) {

    .list-cards > .card {       
        width: 32.5% !important;
    }
}

@media (min-width: 1300px) {
    .list-cards > .card {      
        width: 24.5% !important;
    }
}

.datatable .datatable-buttons {
    width: 190px;
}