@{
    ViewBag.Title = "Log";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/ServerLog/service.js")"></script>
    <script src="@Url.Content("~/Scripts/ServerLog/module.js")"></script>
}

<div ng-controller="ListServerLogController">
    <h2>@ViewBag.Title</h2>

    <div class="row">
        <div class="col-md-3">
            <search placeholder="Digite o termo de busca..."
                    ng-model="filtros.search"
                    on-search="listar()">
            </search>
        </div>
    </div>

    <datatable items="item in serverlogs" filters="filtros" refresh="listar()">
        <column orderable get="item.DataHora | shortDateTimeString">Data e Hora</column>
        <column orderable get="item.TextoLog" initial>Texto do Log</column>        
    </datatable>

    <pagination filters="filtros" refresh="listar()"></pagination>
</div>