<div class="input-group">
    <input type="text" class="form-control" ng-model="ngModel.Imei"/>
    <div class="input-group-append">
        <button type="button" class="btn btn-outline-primary" ng-click="abrirListagem()"><span class="fa fa-search"></span></button>
    </div>
</div>

<dialog is-open="abertaListagem" static class="model-dialog-80">
    <dialog-form>
        <dialog-title>Selecione uma pulseira</dialog-title>
        <dialog-body>
            <search placeholder="Digite um termo de busca..."
                    ng-model="filtros.search"
                    on-search="listar()"></search>

            <div class="table-responsive">
                <datatable items="item in pulseiras" filters="filtros" refresh="listar()">
                    <column orderable get="item.Imei" initial>Imei</column>
                    <column orderable get="item.Telefone">Telefone</column>
                    <buttons>
                        <button icon-fa="arrow-down" ng-click="selecionar(item)"></button>
                    </buttons>
                </datatable>
            </div>
            <pagination filters="filtros" refresh="listar()"></pagination>

        </dialog-body>
        <dialog-footer>
            <button type="button" class="btn btn-outline-secondary" ng-click="fecharListagem()">Fechar</button>
        </dialog-footer>
    </dialog-form>
</dialog>